.container{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background: linear-gradient(45deg, hsl(0, 100%, 23.5%) 40%, hsl(37, 82%, 65%) 40%);
    overflow: hidden;
}
.items-search{
    text-align: center;
}
.logo{
    position: absolute;
    top: 5%;
    width: 400px;
    height: 100px;
    background-image: url('../../assets/Marvel_Logo.svg.png');
    background-size: 200px 100px;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-500px);
    transition: 1s;
}
.search{
    position: relative;
    top: 24vh;
    width: 400px;
    text-align: center;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.082);
    background: #393939;
    border-radius: 10px;
    transition: 1s;
    transform: translateY(1300px);
}
.search>h2{
    margin: 0 !important;
    margin-top: 30px;
    padding: 0.5em;
    font-size: 20px;
    color: white;
}
.search>.search-input{
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 30px;
    text-align: center;
    border: 0;
    width: 320px;
}
.err-msg{
    font-size: 12px;
    color: red;
    padding: 10px;
    height: 10px;
}
